In [59]:
import pandas as pd

In [58]:
df = pd.read_csv('Crop_per_month_egypt_2010.csv')

In [47]:
df1 = df.fillna(0)
print(df1)

                           area(1000 ha)    Jan 2010   Feb 2010   March 2010   \
Wheat                               1 261        35.0       35.0         35.0
Rice                                  452         0.0        0.0          0.0
Maize                                 927         0.0        0.0          0.0
Other cereals                         351        10.0       10.0         10.0
Vegetables one                        388         0.0        0.0          0.0
Vegetables two                        388         0.0        0.0          0.0
Fruits                                389        11.0       11.0         11.0
Mangoes                                64         2.0        2.0          2.0
Figs                                   32         1.0        1.0          1.0
Dates                                  42         1.0        1.0          1.0
Citrus                                157         4.0        4.0          4.0
Grapes                                 64         2.0        2.0          2.0
Olives                                 50         1.0        1.0          1.0
Groundnuts                             38         0.0        0.0          0.0
Sesame                                 28         0.0        0.0          0.0
Other oil crops                        66         0.0        0.0          0.0
Potatoes and other tubers*            158         0.0        0.0          0.0
Pulses                                 98         0.0        0.0          0.0
Sugarcane                             131         4.0        4.0          4.0
Sugar beets                           162         0.0        0.0          0.0
Fodder temporary                      932        26.0       26.0         26.0
Cotton                                155         0.0        0.0          0.0

                            April 2010   May 2010   June 2010   Jul 2010   \
Wheat                              35.0       35.0         0.0        0.0
Rice                                0.0        0.0        13.0       13.0
Maize                               0.0        0.0        26.0       26.0
Other cereals                      10.0        0.0         0.0        0.0
Vegetables one                     11.0       11.0        11.0        0.0
Vegetables two                      0.0        0.0         0.0       11.0
Fruits                             11.0       11.0        11.0       11.0
Mangoes                             2.0        2.0         2.0        2.0
Figs                                1.0        1.0         1.0        1.0
Dates                               1.0        1.0         1.0        1.0
Citrus                              4.0        4.0         4.0        4.0
Grapes                              2.0        2.0         2.0        2.0
Olives                              1.0        1.0         1.0        1.0
Groundnuts                          0.0        1.0         1.0        1.0
Sesame                              0.0        1.0         1.0        1.0
Other oil crops                     0.0        2.0         2.0        2.0
Potatoes and other tubers*          0.0        4.0         4.0        4.0
Pulses                              0.0        3.0         3.0        3.0
Sugarcane                           4.0        4.0         4.0        4.0
Sugar beets                         0.0        4.0         4.0        4.0
Fodder temporary                    0.0        0.0         0.0        0.0
Cotton                              0.0        4.0         4.0        4.0

                            Aug 2010   Sep 2010   Oct 2010   Nov 2010   \
Wheat                             0.0        0.0        0.0       35.0
Rice                             13.0       13.0       13.0        0.0
Maize                            26.0       26.0       26.0        0.0
Other cereals                     0.0        0.0        0.0       10.0
Vegetables one                    0.0        0.0        0.0        0.0
Vegetables two                   11.0       11.0       11.0        0.0
Fruits                           11.0       11.0       11.0       11.0
Mangoes                           2.0        2.0        2.0        2.0
Figs                              1.0        1.0        1.0        1.0
Dates                             1.0        1.0        1.0        1.0
Citrus                            4.0        4.0        4.0        4.0
Grapes                            2.0        2.0        2.0        2.0
Olives                            1.0        1.0        1.0        1.0
Groundnuts                        1.0        1.0        0.0        0.0
Sesame                            1.0        1.0        0.0        0.0
Other oil crops                   2.0        2.0        0.0        0.0
Potatoes and other tubers*        4.0        4.0        0.0        0.0
Pulses                            3.0        3.0        0.0        0.0
Sugarcane                         4.0        4.0        4.0        4.0
Sugar beets                       4.0        4.0        4.0        0.0
Fodder temporary                  0.0        0.0        0.0       26.0
Cotton                            4.0        4.0        4.0        0.0

                            Dec 2010
Wheat                           35.0
Rice                             0.0
Maize                            0.0
Other cereals                   10.0
Vegetables one                   0.0
Vegetables two                   0.0
Fruits                          11.0
Mangoes                          2.0
Figs                             1.0
Dates                            1.0
Citrus                           4.0
Grapes                           2.0
Olives                           1.0
Groundnuts                       0.0
Sesame                           0.0
Other oil crops                  0.0
Potatoes and other tubers*       0.0
Pulses                           0.0
Sugarcane                        4.0
Sugar beets                      0.0
Fodder temporary                26.0
Cotton                           0.0

In [48]:
df1.dropna()

,area(1000 ha),Jan 2010,Feb 2010,March 2010,April 2010,May 2010,June 2010,Jul 2010,Aug 2010,Sep 2010,Oct 2010,Nov 2010,Dec 2010
Wheat,1 261,35.0,35.0,35.0,35.0,35.0,0.0,0.0,0.0,0.0,0.0,35.0,35.0
Rice,452,0.0,0.0,0.0,0.0,0.0,13.0,13.0,13.0,13.0,13.0,0.0,0.0
Maize,927,0.0,0.0,0.0,0.0,0.0,26.0,26.0,26.0,26.0,26.0,0.0,0.0
Other cereals,351,10.0,10.0,10.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,10.0
Vegetables one,388,0.0,0.0,0.0,11.0,11.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0
Vegetables two,388,0.0,0.0,0.0,0.0,0.0,0.0,11.0,11.0,11.0,11.0,0.0,0.0
Fruits,389,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0
Mangoes,64,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
Figs,32,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
Dates,42,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
Citrus,157,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
Grapes,64,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
Olives,50,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
Groundnuts,38,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
Sesame,28,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
Other oil crops,66,0.0,0.0,0.0,0.0,2.0,2.0,2.0,2.0,2.0,0.0,0.0,0.0
Potatoes and other tubers*,158,0.0,0.0,0.0,0.0,4.0,4.0,4.0,4.0,4.0,0.0,0.0,0.0
Pulses,98,0.0,0.0,0.0,0.0,3.0,3.0,3.0,3.0,3.0,0.0,0.0,0.0
Sugarcane,131,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
Sugar beets,162,0.0,0.0,0.0,0.0,4.0,4.0,4.0,4.0,4.0,4.0,0.0,0.0
Fodder temporary,932,26.0,26.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26.0,26.0
Cotton,155,0.0,0.0,0.0,0.0,4.0,4.0,4.0,4.0,4.0,4.0,0.0,0.0

In [56]:
df1.transpose().head()

,Wheat,Rice,Maize,Other cereals,Vegetables one,Vegetables two,Fruits,Mangoes,Figs,Dates,...,Olives,Groundnuts,Sesame,Other oil crops,Potatoes and other tubers*,Pulses,Sugarcane,Sugar beets,Fodder temporary,Cotton
area(1000 ha),1 261,452,927,351,388,388,389,64,32,42,...,50,38,28,66,158,98,131,162,932,155
Jan 2010,35,0,0,10,0,0,11,2,1,1,...,1,0,0,0,0,0,4,0,26,0
Feb 2010,35,0,0,10,0,0,11,2,1,1,...,1,0,0,0,0,0,4,0,26,0
March 2010,35,0,0,10,0,0,11,2,1,1,...,1,0,0,0,0,0,4,0,26,0
April 2010,35,0,0,10,11,0,11,2,1,1,...,1,0,0,0,0,0,4,0,0,0